
/* COLOUR REFERENCE */
/*
$dark-blue: #007bff;
$light-blue: #99c2ff;
$very-light-blue: #f0f8ff;
$red: #ca1515;
$light-red: #CD5C5C;
$grey: #ebebeb;
$dark-grey: #888888;
TODO: update global black
$black: #1a1110;
$off-white: ghostwhite;
$light-green: #e9fdf5;
$dark-green: #008080;
/*

/* FONTS */

@font-face {
	font-family: 'ElegantIcons';
	src:url('elegant_font/ElegantIcons.eot');
	src:url('elegant_font/ElegantIcons.eot?#iefix') format('embedded-opentype'),
		url('elegant_font/ElegantIcons.woff') format('woff'),
		url('elegant_font/ElegantIcons.ttf') format('truetype'),
		url('elegant_font/ElegantIcons.svg#ElegantIcons') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon_star, .icon_currency, .icon_heart_alt, .icon_image, .social_share, .icon_mail_alt, .icon_bag_alt, .icon_close, .icon_chat_alt, .icon_comment_alt, .arrow_triangle-right {
	font-family: 'ElegantIcons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.icon_star:before {
	content: "\e033";
}

.icon_currency:before {
	content: "\e0ed";
}

.icon_heart_alt:before {
	content: "\e030";
}

.icon_image:before {
	content: "\e005";
}

.social_share:before {
	content: "\e0a0";
}

.icon_mail_alt:before {
	content: "\e010";
}

.icon_bag_alt:before {
	content: "\e013";
}

.icon_close:before {
	content: "\4d";
}

.icon_chat_alt:before {
	content: "\77";
}

.icon_comment_alt:before {
	content: "\76";
}

.arrow_triangle-right:before {
	content: "\45";
}

/* NAVIGATION */

body {
    padding: 10px;
    font-family: "Montserrat", sans-serif;
}

hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

ul li {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
    position: relative;
}

.header {
    padding-left: 30px;
    padding-right: 30px;
}

.nav__logo {
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav__logo img {
    width: 40%;
}

.nav__menu {
    padding-top: 25px;
    padding-bottom: 15px;
}

.nav__menu ul li a {
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: #111111;
    font-weight: 500;
    display: block;
    padding-left: 15px;
    padding-right: 15px;
}

.nav__menu ul li a:before {
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 0px;
    height: 2px;
    content: "";
    background: #99c2ff;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    transition-duration: 0.75s;
}

.nav__menu ul li a:after {
    position: absolute;
    right: 50%;
    bottom: -5px;
    width: 0px;
    height: 2px;
    content: "";
    background: #99c2ff;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    transition-duration: 0.75s;
}

.nav__menu ul li a:hover:before {
    width: 50%;
    left: 50%;
    opacity: 1;
}

.nav__menu ul li a:hover:after {
    width: 50%;
    right: 50%;
    opacity: 1;
}

.nav__account {
    padding-top: 10px;
    padding-bottom: 5px;
}

.nav__account ul li a {
    font-size: 15px;
    text-transform: capitalize;
    text-decoration: none;
    color: #111111;
    display: block;
    padding-right: 15px;
}

/* LISTINGS and CATEGORIES */

section[class = "listing"] {
    background: ghostwhite;
}

.listings, .categories, .new_listing, .listing__detail, .listing {
    padding-top: 60px;
    padding-bottom: 60px;
}

.listings__header, .categories__header, .new_listing__header {
    padding-top: 25px;
    padding-bottom: 25px;
}

.listings__title, .categories__title, .new_listing__title {
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
}

.listings__top-categories ul li a {
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: #111111;
    font-weight: 500;
    display: block;
    padding-left: 15px;
    padding-right: 15px;
}

.listing__photo {
    height: 160px;
}

.listing__photo_img {
    object-fit: cover;
    height: 160px;
    width: min(100%, 160px);
    margin-bottom: 30px;
}

.listing__photo_img-default {
    font-size: 100px;
    color: #99c2ff;
    margin-top: auto;
    margin-bottom: auto;
}

.listing__text {
    text-align: center;
}

.listing__price {
    font-weight: 500;
}

/* CATEGORY ITEMS */

.categories {
    background-color: ghostwhite;
}

.category__largest_item > div {
    height: 510px;
}

.category__largest_item div h4 {
    font-family: "Mistral";
    font-size: 5rem;
}

.category__item {
    height: 250px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.category__text a {
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: #111111;
    font-weight: 500;
    display: inline-block;
    position: relative;
}

.category__text a[data-meta = "browse"]:before {
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 0px;
    height: 2px;
    content: "";
    background: #99c2ff;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    transition-duration: 0.75s;
}

.category__text a[data-meta = "browse"]:after {
    position: absolute;
    right: 50%;
    bottom: -5px;
    width: 0px;
    height: 2px;
    content: "";
    background: #99c2ff;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    transition-duration: 0.75s;
}

.category__text a[data-meta = "browse"]:hover:before {
    width: 50%;
    left: 50%;
    opacity: 1;
}

.category__text a[data-meta = "browse"]:hover:after {
    width: 50%;
    right: 50%;
    opacity: 1;
}

/* NEW LISTINGS FORM */

.new_listing__inputs table {
    width: 100%;
}

.new_listing__inputs input, .new_listing__inputs select {
    width: 100%;
    border: 1px solid rgb(68, 68, 68);
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    outline: none;
}

input[name = "title"] {
    font-size: 1.5rem;
}

textarea[name = "description"] {
    font-size: 1rem;
}

input[name = "starting_bid"] {
    font-size: 1.2rem;
}

.styled_file_input {
    position: relative;
    border-radius: 50px;
    border: 1px solid #99c2ff;
}

.styled_file_input:hover {
    border-radius: 50px;
    background: #007bff;
}

.styled_file_input > span {
    position: absolute;
    top: 0;
    left: calc(50% - 25px);
    color: #99c2ff;
    font-size: 46px;
}

input[name = "photo"] {
    opacity: 0;
    position: relative;
    z-index: 1;
}

select[name = "category"] {
    font-size: 1.2rem;
}

.new_listing__inputs textarea {
    width: 100%;
    border: 1px solid rgb(68, 68, 68);
    border-radius: 15px;
    font-size: 14px;
    padding: 20px;
    outline: none;
}

.new_listing__submit {
    margin-top: 20px;
    margin-bottom: 20px;
}

.new_listing__submit button {
    color: #99c2ff;
    border-color: #99c2ff;
    width: 15%;
}


/* LISTING ITEMS */

.breadcrumb__links {
    margin-bottom: 30px;
}

.breadcrumb__links a {
    position: relative;
    font-size: 15px;
    text-transform: capitalize;
    text-decoration: none;
    color: #111111;
    font-weight: 500;
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
}

.breadcrumb__links a:after {
    position: absolute;
    right: -15px;
    top: 0px;
    content: ">";
}

#breadcrumb__links_listing {
    color: #888888;
    text-transform: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: min(100%, 250px);
}

#breadcrumb__links_listing:after {
    content: "";
}

.listing__detail_item {
    background: ghostwhite;
    padding: 25px;
}

.listing__detail_large_photo_img {
    object-fit: cover;
    height: 350px;
    width: min(100%, 400px);
    margin-bottom: 30px;
}

.listing__detail_large_photo_img-default {
    font-size: 200px;
    color: #99c2ff;
}

.listing__detail_title, .listing__detail_description {
    margin-bottom: 16px;
}

.listing__detail_title > span {
    display: block;
    font-size: 0.5rem;
    margin-bottom: 10px;
    margin-top: 15px;
}

.listing__detail_winner {
    font-weight: 100;
    color: #ca1515;
}

.listing__detail_price {
    font-size: 30px;
    font-weight: 600;
    color: #ca1515;
    margin-bottom: 30px;
    margin-top: 30px;
}

.listing__detail_price > span.closed {
    text-decoration: line-through
}

/* BID WIDGET */

.listing__detail_bid_widget {
    margin-top: 15px;
    margin-bottom: 15px;
}

.listing__detail_bid_form_element {
    padding-top: 15px;
    padding-bottom: 15px;
}

.listing__detail_bid_widget input {
    width: 100%;
    height: 50px;
    font-size: 1rem;
    border: 1px solid #ebebeb;
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 20px;
    outline: none;
}

.listing__detail_bid_widget button {
    width: 100%;
    height: 50px;
    border-radius: 50px;
}

/* ADDITIONAL WIDGET */

.listing__detail_additional_widget {
    margin-top: 15px;
    margin-bottom: 15px;
}

.listing__detail_additional_widget > div {
    display: inline-block;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.listing__detail_additional_widget button {
    width: 50px;
    height: 50px;
    border: 1px solid #ebebeb;
    background-color: white;
    border-radius: 50px;
    text-decoration: none;
}

.listing__detail_additional_widget button:focus {
    outline: none;
    box-shadow: 0 0 0 1pt #007bff;
}

.listing__detail_additional_widget button > span {
    color: #99c2ff;
}

/* unwatch widget fill dark blue */
#listing__detail_unwatch_widget_btn {
    background-color: #007bff;
}

/* close listing light red icon and outline */
#listing__detail_close_widget_btn > span {
    color: #CD5C5C;
}

#listing__detail_close_widget_btn:focus {
    box-shadow: 0 0 0 1pt #CD5C5C;
}

/* COMMENTS SECTION */

.listing_comments, .listing__comments_header, .listing__comment_create, .listing__comment {
    margin-top: 15px;
    margin-bottom: 15px;
}

.listing__comment_title {
    font-size: 19px;
    color: #111111;
    position: relative;
    width: 100%;
    padding-bottom: 30px;
}

@media only screen and (min-width: 991px) {
    .listing__comment_title:before {
        width: calc(50% - 100px);
    }

    .listing__comment_title:after {
        width: calc(50% - 100px);
    }
}

.listing__comment_title:before {
    position: absolute;
    left: 0;
    top: 12px;
    height: 1px;
    background: #ebebeb;
    content: "";
}

.listing__comment_title:after {
    position: absolute;
    right: 0;
    top: 12px;
    height: 1px;
    background: #ebebeb;
    content: "";
}

.listing__comment_form {
    border: 1px solid #ebebeb;
    border-radius: 15px;
    width: 100%;
    height: auto;
}

.listing__comment_form textarea {
    border: 1px solid #ebebeb;
    border-radius: 20px;
    height: 100px;
    width: 100%;
    font-size: 1rem;
    margin: 15px;
    margin-bottom: 10px;
    padding: 15px;
    overflow: hidden;
}

.listing__comment_form textarea:focus {
    outline: none;
}


/* ensure create comment submit button stays 15px from bottom */
.listing__comment_create_btn_col {
    margin-top: auto;
    margin-bottom: 15px;
}

#listing__comment_create_widget_btn {
    width: 50px;
    height: 50px;
    border: 1px solid #99c2ff;
    background-color: white;
    border-radius: 50px;
    text-decoration: none;
    margin-left: -9px;
    vertical-align: bottom;
    color: #99c2ff;
}

#listing__comment_create_widget_btn:hover {
    background-color: #007bff;
}

#listing__comment_create_widget_btn:focus {
    outline: none;
    box-shadow: 0 0 0 1pt #007bff;
}

.listing__comment_item {
    border: 1px solid #ebebeb;
    border-radius: 15px;
    width: 100%;
    height: auto;
}
.listing__comment_container {
    margin-top: 15px;
    margin-left: 30px;
    margin-bottom: 15px;
    margin-right: 15px;
}

.listing__comment_item[data-owner = "me"] {
    background: #e9fdf5;
    border: 1px solid #66CDAA;
}

/* User's own name highlighted in dark green */
.listing__comment_item[data-owner = "me"] div[class = "listing__comment_user"] {
    color: #008080;
}

.listing__comment_item[data-owner = "op"] {
    background: #f0f8ff;
    border: 1px solid #99c2ff;
}

/* Original poster name in dark blue */
.listing__comment_item[data-owner = "op"] div[class = "listing__comment_user"] {
    color:  #007bff;
}

.listing__comment_item {
    background: ghostwhite;
    border: 1px solid #F5F5F5;
}

.listing__comment_item div[class = "listing__comment_user"] {
    color: #1a1110;
    font-weight: 500;
}

#listing__comment_reply_widget_btn {
    width: 50px;
    height: 50px;
    border: 1px solid #99c2ff
}

#listing__comment_reply_widget_btn {
    width: 30px;
    height: 30px;
    border: 1px solid #99c2ff;
    border-radius: 50px;
    text-decoration: none;
    margin-left: -9px;
    color: #99c2ff;
    opacity: 35%;
    margin-top: 15px;
    margin-right: 5px;
}

#listing__comment_reply_widget_btn:hover {
    background-color: #007bff;
    opacity: 1;
}

#listing__comment_reply_widget_btn:focus {
    outline: none;
    box-shadow: 0 0 0 1pt #007bff;
}

/* ERRORS */

[data-invalid = "true"] {
    position: relative;
    display: inline-block;
}

/* red border around invalid item */
input[data-invalid = "true"], button[data-invalid = "true"] {
    border-color: #CD5C5C87;
}

/* error message popup */
[data-invalid = "true"] ~ span.error_message {
    visibility: hidden;
    position: absolute;

    /* error below */
    width: 250px;
    top: 100%;
    left: 50%;
    margin-left: calc(-250px / 2);

    /* transparent light red with dark red text */
    background-color: #CD5C5C87;
    color: #ca1515;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    z-index: 1;
    opacity: 0;
    transition: opacity 0.6s;
}

[data-invalid = "true"] ~ span.error_message:after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    /* all transparent except bottom border */
    border-color: transparent transparent #CD5C5C87 transparent;
}

[data-invalid = "true"]:hover ~ span.error_message {
    visibility: visible;
    opacity: 1;
}