{% extends "auctions/layout.html" %}

{% block body %}
    {% if category %}
        <h2>{{ category.name }}</h2>

        <ul>
        {% for listing in category.active_listings %}
            <li>
                <a href="{% url 'read_listing' listing.id %}">{{ listing.title }}</a>
            </li>
        {% empty %}
            <li>No active listings for this category :(</li>
        {% endfor %}
        </ul>
    {% else %}
        <h2>The category you're looking for doesn't exist or was moved</h2>
    {% endif %}
{% endblock %}