{% extends "auctions/layout.html" %}

{% block body %}
    {% if category %}
    <section class="listing">
        <div class="container">

            <!-- Category Header -->
            <div class="row listings__header">
                <!-- Title -->
                <div class="col-lg-4 col-md-4">
                    <div class="listings__title">
                        <h3>{{ category.name }}</h3>
                    </div>
                </div>

                <!-- Filters -->
                <div class="col-lg-8 col-md-8">
                    <!-- TODO: category filters -->
                </div>
            </div>

            <!-- Listing Items -->
            <div class="row listing__items">
            {% for listing in category.active_listings %}
                {% include "auctions/listing_item.html" %}
            {% empty %}
                <!-- TODO: no_listing_item template -->
                <div>No active listings for this category :(</div>
            {% endfor %}
            </div>
        </div>
    </section>
    {% else %}
        <!-- TODO: no_category template -->
        <h2>The category you're looking for doesn't exist or was moved</h2>
    {% endif %}
{% endblock %}