{% extends "auctions/layout.html" %}

{% block body %}

    <!-- TODO: categories thumbnails -->
    <section class="categories">
    </section>

    <section class="listings">
        <div class="container">

            <!-- Listings Header -->
            <div class="row listings__header">
                <!-- Title -->
                <div class="col-lg-4 col-md-4">
                    <div class="listings__title">
                        <h3>Active Listings</h3>
                    </div>
                </div>

                <!-- Filters -->
                <div class="col-lg-8 col-md-8">
                    <div class="listings__top-categories">
                        <ul>
                            <li>
                              <a href="{% url 'index' %}">All</a>
                            </li>
                        {% for top_cat in top_categories %}
                            {% if top_cat %}
                            <li>
                                <a href="{% url 'read_category' top_cat.id %}">{{ top_cat.name }}</a>
                            </li>
                            {% endif %}
                        {% endfor %}
                            <!-- TODO: add support for misc (non-categorised listings) -->
                            <li>
                                <a href="{% url 'read_category' 0 %}">Misc</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Listing Items -->
            <div class="row listings__items">
            {% for listing in listings %}
                {% include "auctions/listing_item.html" %}
            {% endfor %}
            </div>

        </div>
    </section>
{% endblock %}