{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <!-- Navigation -->
        <header class="header">
            <div class="row">
                <!-- Icon -->
                <div class="col-xl-3 col-lg-2">
                    <div class="nav__logo">
                        <a href="{% url 'index' %}">
                            <img src="{% static 'auctions/auction_icon.png' %}">
                        </a>
                    </div>
                </div>
                <!-- Links -->
                <div class="col-xl-6 col-lg-7 justify-content-xl-center">
                    <div class="nav__menu">
                        <ul>
                            <li>
                                <a href="{% url 'index' %}">home</a>
                            </li>
                            <!-- TODO: Top 3 Categories -->
                            <li>
                                <a href="{% url 'read_categories' %}">all categories</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Account -->
                <div class="col-lg-3">
                    <div class="nav__account">
                        <ul>
                        <!-- Greeting -->
                        {% if user.is_authenticated %}
                            {% if user.first_name %}
                                <li>Hey <strong>{{ user.first_name }}</strong>, looking good!</li>
                            {% else %}
                                <li>Signed in as <strong>{{ user.username }}</strong>.</li>
                            {% endif %}
                        {% else %}
                            <li>Hey stranger.</li>
                        {% endif %}
                        </ul>
                        <ul>
                        {% if user.is_authenticated %}
                            <!-- Authentication -->
                            <li>
                                <a href="{% url 'logout' %}" class="text-muted">Logout</a>
                            </li>
                            <!-- Account Widget -->
                            <li>
                                <!-- TODO: widget icons -->
                                <a href="{% url 'read_watchlist' %}">W</a>
                            </li>
                            <li>
                                <a href="{% url 'create_listing' %}">L</a>
                            </li>
                            <li>
                                <!-- TODO: my bids -->
                                <a href="">B</a>
                            </li>
                        {% else %}
                            <!-- Authentication -->
                            <li>
                                <a href="{% url 'login' %}" class="text-muted">login</a>
                            </li>
                            <li>
                                <a href="{% url 'register' %}" class="text-muted">register</a>
                            </li>
                        {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <hr>
        {% block body %}
        {% endblock %}
    </body>
</html>
