{% extends "auctions/layout.html" %}

{% block body %}
    {% if listing %}
        <h2>{{ listing.title }}</h2>
        {% if user.is_authenticated and user != listing.owner %}
            <p>
                {% if on_watchlist %}
                    <form action="{% url 'remove_watcher' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="listing_id" value="{{ listing.id }}">
                        <button class="btn btn-link" type="submit">Remove From Watchlist</button>
                    </form>
                {% else %}
                    <form action="{% url 'add_watcher' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="listing_id" value="{{ listing.id }}">
                        <button class="btn btn-link" type="submit">Add To Watchlist</button>
                    </form>
                {% endif %}
            </p>
        {% endif %}
        <p>
            {{ listing.description }}
        </p>
        <p>
            {% if listing.photo %}
                <img src="{{ listing.photo.url }}">
            {% else %}
                <img src="/images/listing/no_photo.png">
                <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
            {% endif %}
        </p>
        <p>
            Current Price: {{ listing.highest_bid }}
        </p>
        <p>
            Status: {% if listing.is_open %}Open{% else %}Closed{% endif %}
        </p>
        {% if user == listing.owner %}
            {% if listing.is_open %}
                <form action="{% url 'close_listing' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="listing_id" value="{{ listing.id }}">
                    <button class="btn btn-danger" type="submit">Close Auction</button>
                </form>
            {% endif %}
        {% elif user.is_authenticated %}
            <form action="{% url 'create_bid' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="listing_id" value="{{ listing.id }}">
                {% if insufficient_bid %}
                <div class="alert alert-warning" role="alert">
                    <div>Insufficient Bid, must be higher than {{ listing.new_bid_minimum }}</div>
                {% endif %}
                    <input type="number" name="value" step="{{ listing.bid_increment }}" min="{{ listing.new_bid_minimum }}">
                {% if insufficient_bid %}</div>{% endif %}
                <button class="btn btn-primary" type="submit">Submit Bid</button>
            </form>
        {% endif %}

    {% else %}
        <h2>Does Not Exist</h2>
    {% endif %}
{% endblock %}