<section class="listing__detail">
    <div class="container">

        <!-- Breadcrumbs -->
        <div class="row listing__detail_breadcrumbs">
            <div class="col-lg-12 breadcrumb__links">
                <a id="breadcrumb__links_home" href="{% url 'index' %}">
                    Home
                </a>
                <a id="breadcrumb__links_category" href="{% url 'read_category' listing.category.id %}">
                    {{ listing.category.name }}
                </a>
                <a id="breadcrumb__links_listing" href="{% url 'read_listing' listing.id %}">
                    {{ listing.title }}
                </a>
            </div>
        </div>

        <!-- The Listing -->
        <div class="row listing__detail_item">

            <!-- Photo -->
            <div class="col-lg-6">
                <div class="listing__detail_img text-center">
                {% if listing.photo %}
                    <!-- TODO: vertical alignment -->
                    <img class="listing__detail_large_photo_img" src="{{ listing.photo.url }}">
                {% else %}
                    <span class="icon_image listing__detail_large_photo_img-default"></span>
                {% endif %}
                </div>
            </div>

            <!-- Text -->
            <div class="col-lg-6">

                <div class="listing__detail_text">
                    <!-- Header -->
                    <h3 class="listing__detail_title">
                        {{ listing.title }}
                        <!-- Auction Winner -->
                        {% if listing.is_open %}
                            {% if user == listing.highest_bidder %}
                            <span class="listing__detail_winner">
                                Good luck {{ user.first_name }}, you're in the
                                lead to win the auction!
                            </span>
                            {% endif %}
                        {% else %}
                            {% if user == listing.highest_bidder %}
                            <span class="listing__detail_winner">
                                Congratulations {{ user.first_name }}, you won
                                the auction!
                            </span>
                            {% endif %}
                        {% endif %}
                    </h3>

                    <!-- Details -->
                    {% if listing.is_open %}
                    <div class="listing__detail_price">
                        <span class="open">{{ listing.highest_bid }} ¥</span>
                    </div>
                    {% else %}
                    <div class="listing__detail_price">
                        <span class="closed">{{ listing.highest_bid }} ¥</span>
                        <span class="sold">Sold!</span>
                    </div>
                    {% endif %}
                    <div class="listing__detail_description">{{ listing.description }}</div>

                    <!-- Forms -->
                    <div class="row listing__detail_widget">

                        <!-- Create Bid Widget -->
                        <div class="col-lg-6 listing__detail_bid_widget text-center">
                        {% if listing.is_open %}
                            {% if user != listing.owner %}
                                {% include "auctions/widgets/bid.html" %}
                            {% endif %}
                        {% endif %}
                        </div>

                        <!-- Additional Features -->
                        <div class="col-lg-6 listing__detail_additional_widget text-center">
                        {% if user != listing.owner %}

                            <!-- Watchlist -->
                            {% include "auctions/widgets/watch.html" %}

                            <!-- Contact Seller -->
                            {% include "auctions/widgets/contact.html" %}

                            <!-- Social Media Share -->
                            {% include "auctions/widgets/share.html" %}

                        {% elif user == listing.owner %}

                            {% if listing.is_open %}
                                <!-- Close Listing -->
                                {% include "auctions/widgets/close.html" %}

                            {% else %}
                                <!-- Confirm Sale -->
                                {% include "auctions/widgets/confirm_sale.html" %}

                            {% endif %}

                            <!-- Contact Winner -->
                            {% include "auctions/widgets/contact.html" %}

                            <!-- Social Media Share -->
                            {% include "auctions/widgets/share.html" %}

                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>

{% include "auctions/comments.html" %}