<section class="listing__detail">
    <div class="container">

        <!-- Breadcrumbs -->
        <div class="row listing__detail_breadcrumbs">
            <div class="col-lg-12 breadcrumb__links">
                <a class="breadcrumb__links_home" href="{% url 'index' %}">
                    Home
                </a>
                <a class="breadcrumb__links_category" href="{% url 'read_category' listing.category.id %}">
                    {{ listing.category.name }}
                </a>
                <a class="breadcrumb__links_listing" href="{% url 'read_listing' listing.id %}">
                    {{ listing.title }}
                </a>
            </div>
        </div>

        <!-- The Listing -->
        <div class="row listing__detail_item">

            <!-- Photo -->
            <div class="col-lg-6">
                <div class="listing__detail_img text-center">
                {% if listing.photo %}
                    <!-- TODO: vertical alignment -->
                    <img class="listing__detail_large_photo_img" src="{{ listing.photo.url }}">
                {% else %}
                    <span class="icon_image listing__detail_large_photo_img-default"></span>
                {% endif %}
                </div>
            </div>

            <!-- Text -->
            <div class="col-lg-6">

                <div class="listing__detail_text">
                    <!-- Header -->
                    <h3 class="listing__detail_title">
                        {{ listing.title }}
                        <!-- Auction Winner -->
                        {% if listing.is_open %}
                            {% if user == listing.highest_bidder %}
                            <span class="listing__detail_winner">
                                Good luck {{ user.first_name }}, you're in the
                                lead to win the auction!
                            </span>
                            {% endif %}
                        {% else %}
                            {% if user == listing.highest_bidder %}
                            <span class="listing__detail_winner">
                                Congratulations {{ user.first_name }}, you won
                                the auction!
                            </span>
                            {% endif %}
                        {% endif %}
                    </h3>

                    <!-- Details -->
                    {% if listing.is_open %}
                    <div class="listing__detail_price">
                        <span class="open">{{ listing.highest_bid }} ¥</span>
                    </div>
                    {% else %}
                    <div class="listing__detail_price">
                        <span class="closed">{{ listing.highest_bid }} ¥</span>
                        <span class="sold">Sold!</span>
                    </div>
                    {% endif %}
                    <div class="listing__detail_description">{{ listing.description }}</div>

                    <!-- Forms -->
                    <div class="row listing__detail_widget">

                        <!-- Create Bid Widget -->
                        <div class="col-lg-6 listing__detail_bid_widget">
                        {% if listing.is_open %}
                            {% if user != listing.owner %}
                                <!-- TODO: invalid fields styling -->
                                <form action="{% url 'create_bid' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="listing_id" value="{{ listing.id }}">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <input type="number" name="value" step="{{ listing.bid_increment }}" min="{{ listing.new_bid_minimum }}" value="{{ listing.new_bid_minimum }}">
                                        </div>
                                        <div class="col-lg-6">
                                            <!-- TODO: not logged in user pop up -->
                                            <button class="btn btn-outline-primary" type="submit">Bid</button>
                                        </div>
                                    </div>
                                </form>
                            {% endif %}
                        {% endif %}
                        </div>

                        <!-- Additional Features -->
                        <div class="col-lg-6 listing__detail_additional_widget">
                        {% if user != listing.owner %}
                            {% if on_watchlist %}
                            <div class="listing__detail_unwatch_widget">

                                <!-- Remove from Watchlist -->
                                <form action="{% url 'remove_watcher' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="listing_id" value="{{ listing.id }}">
                                    <button class="listing__detail_unwatch_widget_btn" type="submit">
                                        <span class="icon_star"></span>
                                    </button>
                                </form>
                            </div>
                            {% else %}
                            <div class="listing__detail_watch_widget">

                                <!-- Add to Watchlist -->
                                <form action="{% url 'add_watcher' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="listing_id" value="{{ listing.id }}">
                                    <button class="listing__detail_watch_widget_btn" type="submit">
                                        <span class="icon_star"></span>
                                    </button>
                                </form>
                            </div>
                            {% endif %}

                        {% elif user == listing.owner and listing.is_open %}

                            <!-- Close Listing -->
                            <div class="listing__detail_close_widget">
                                <form action="{% url 'close_listing' %}"
                                      method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="listing_id" value="{{ listing.id }}">
                                    <button class="btn btn-danger" type="submit">
                                        Close Auction
                                    </button>
                                </form>
                            </div>

                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>

{% include "auctions/comments.html" %}