<div class="listing__detail_bid_form">
    <form action="{% url 'read_listing' listing.id %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="action" value="create_bid">
        <div class="row">
            <div class="col-lg-6 listing__detail_bid_form_element">
                <input {% if bid.errors %}data-invalid="true"{% endif %} type="number" name="value" step="{{ listing.bid_increment }}" min="{{ listing.new_bid_minimum }}" value="{{ listing.new_bid_minimum }}">
                {% if bid.errors %}
                    {% if bid.errors.value %}
                        <span class="error_message">{{ bid.errors.value|first }}</span>
                    {% endif %}
                    {% if bid.errors.bidder %}
                        <span class="error_message">{{ bid.errors.bidder|first }}</span>
                    {% endif %}
                {% endif %}
            </div>
            <div class="col-lg-6 listing__detail_bid_form_element">
                <button {% if not user.is_authenticated %}data-invalid="true"{% endif %} class="btn btn-outline-primary" type="submit">Bid</button>
                {% if not user.is_authenticated %}
                    <span class="error_message">You must be logged in to make a bid</span>
                {% endif %}
            </div>
        </div>
    </form>
</div>