{% if comment.author == user %}
<div data-owner="me" class="listing__comment_item">
{% elif comment.author == listing.owner %}
<div data-owner="op" class="listing__comment_item">
{% else %}
<div data-owner="" class="listing__comment_item">
{% endif %}
    <div class="row">
        <div class="col-11 listing__comment_content_col">
            <div class="listing__comment_container">
                <div class="listing__comment_user">
                    {{ comment.author.username }}
                </div>
                <div class="listing__comment_content">
                    {{ comment.content }}
                </div>
                <div class="listing__comment_timestamp text-muted text-right">
                    {{ comment.created_at }}
                </div>
            </div>
        </div>
        <div class="col-1 listing__comment_content_col">
            <!-- TODO: reply feature -->
            <button id="listing__comment_reply_widget_btn">
                <span class="icon_chat_alt"></span>
            </button>
        </div>
    </div>
</div>