<div class="listing__detail_contact_widget">
    <!-- TODO: messaging feature -->
    <form action="">
        {% csrf_token %}
        {% if user != listing.owner %}
            <input type="hidden" name="recipient_id" value="{{ listing.owner.id }}">
        {% elif user == listing.owner %}
            {% if listing.highest_bidder %}
                <input type="hidden" name="recipient_id" value="{{ listing.highest_bidder.id }}">
            {% else %}
                <input type="hidden" name="recipient_id" value="0">
            {% endif %}
        {% endif %}
        <button id="listing__detail_contact_widget_btn" type="submit">
            <span class="icon_mail_alt"></span>
        </button>
    </form>
</div>