<div class="listing__comment_form">
    <form action="{% url 'create_comment' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="listing_id" value="{{ listing.id }}">
        <div class="row">
            <div class="col-11 listing__comment_content_col">
                {% if listing.reverse_chronological_comments %}
                <textarea name="content">Join the discussion...</textarea>
                {% else %}
                <textarea name="content">First comment!</textarea>
                {% endif %}
            </div>
            <div class="col-1 listing__comment_create_btn_col">
                <button id="listing__comment_create_widget_btn" type="submit">
                    <span class="arrow_triangle-right"></span>
                </button>
            </div>
        </div>
    </form>
</div>