{% if on_watchlist %}
    <div class="listing__detail_unwatch_widget">

        <!-- Remove from Watchlist -->
        <form action="{% url 'read_listing' listing.id %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="action" value="remove_watcher">
            <button id="listing__detail_unwatch_widget_btn" type="submit">
                <span class="icon_star"></span>
            </button>
        </form>
    </div>
{% else %}
    <div class="listing__detail_watch_widget">

        <!-- Add to Watchlist -->
        <form action="{% url 'read_listing' listing.id %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="action" value="add_watcher">
            <button id="listing__detail_watch_widget_btn" type="submit">
                <span class="icon_star"></span>
            </button>
        </form>
    </div>
{% endif %}